body {
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 63px;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 10px #ccc;
  /* position: sticky;
  top:0;
  z-index: 10; */
}
.header>div {
  width: 100%;
}
.header .header-logo {
  width: 99px;
  height: 60px;
  background: url('../img/logo.png') no-repeat center;
}
.header .header-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.bgCon {
    width:10%;
    min-width: 60px;
    max-width:99px;
    display:flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
}
.header .header-nav {
  flex: 1;
  align-items: center;
}
.header .header-nav li {
  flex: 1;
  border-right: 1px solid #595757;
  cursor: pointer;
  text-align: center;
}
.header .header-nav li:last-child {
  border-right: none;
}
.header .header-nav li:hover a {
  color: #A87F47;
}
.header .header-nav .on a {
  color: #A87F47;
}
.header-position {
  z-index: 9999;
  position: fixed;
  top: 0;
}
.header .downloadApp {
  position: relative;
}
.header .downloadApp #qrcodeCon {
  width: 100%;
  text-align:center;
  position:absolute;
  top: 40px;
  left: 0;
  right: 0;
}
.header .downloadApp #qrcodeCon .qrcodeCon {
  width: 160px;
  height: 170px;
  text-align: center;
  margin: 0 auto;
}
.header .downloadApp #qrcodeCon .qrcode {
  width: 120px;
  height: 120px;
  margin-top: 30px;
}
.footer {
  padding-bottom: 20px;
  margin-top: 1.5rem;
  border-top: 1px solid #eee;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 5%;
}
.footer div {
  padding-top: 15px;
  color: #999999;
}
.footer .yinsi:first-child {
    margin-right: 1rem;
}